<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.samples.tomazmartins.sampleretrofit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:mName=".activity.MainActivity">
            <intent-filter>
                <action android:mName="android.intent.action.MAIN"/>

                <category android:mName="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>